.header-section{
  position:absolute;
  background: var(--landingHeaderSectionBackground);
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  z-index: 100;

}
.header-section,
.header-section li a{
  font-size: 18px;
}
.header-section.fixed{
  position: fixed;
  top: 0;
  background-size: cover;
  background: var(--landingHeaderSectionFixedBackground);
  border-bottom-color: var(--landingHeaderSectionFixedBorderColor);
  box-shadow: 0 0 15px rgba(21, 21, 21, 0.35);
}

.header-section .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.header-navigation-line{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  height:100%;
  gap: 20px;
}

.header-navigation-visible{
  display: flex;
}
.header-navigation-banner{
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
  color: var(--landingHeaderSectionTextColor);
}
.header-navigation-banner img{
  width: 50px;
  height: 50px;
}
.header-menu-navigation{
  width: 100%;
  height:100%;
  position: relative;
}
.header-navigation-icon{
  display: none;
  cursor:pointer;
  padding-left: 20px;
}

.header-aside-block{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 20px;
}
.header-aside-block a{
  color: var(--landingHeaderSectionTextColor);
}
.header-aside-block li{
  min-width: 50px;
}
.header-menu-navigation a{
  position: relative;
  color: var(--landingHeaderSectionTextColor);
  text-decoration: none;
}
.header-menu-navigation a.active::after{
  color: var(--landingHeaderSectionTextColor);
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -7px;
  height: 2px;
  background-color: var(--landingHeaderSectionTextColor);
}
.header-menu-navigation a::after{
  content: '';
  position: absolute;
  width: 0;
  left: 0;
  bottom: -7px;
  height: 2px;
  background-color: var(--landingHeaderSectionTextColor);
  transition: all 0.3s ease-in-out;
}
.header-menu-navigation a:hover::after{
  width: 100%;
}


@media (max-width: 1024px) {
  .header-section,
  .header-section li a{
    font-size: 16px;
  }
  .header-navigation-visible{
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .header-navigation-visible {
    display: none;
  }
  .header-navigation-icon {
    display: inline-block;
  }
}
@media (max-width: 600px) {
  .header-navigation-banner{
    display: none;
  }
}
@media (max-width: 320px) {
  .header-section,
  .header-section li a{
    font-size: 14px;
  }
}
