<section class="header-section" [class.fixed]="isSectionFixed">
  <div class="container">

    <div class="header-navigation-icon">
      <p onclick="alert(1)">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="46" fill="white" class="bi bi-list" viewBox="0 0 42 46"><path fill-rule="evenodd" d="M7.917 38A1.583 1.583 0 0 1 9.5 36.417h31.667a1.583 1.583 0 0 1 0 3.167H9.5a1.583 1.583 0 0 1 -1.583 -1.583m0 -12.667A1.583 1.583 0 0 1 9.5 23.752h31.667a1.583 1.583 0 0 1 0 3.167H9.5a1.583 1.583 0 0 1 -1.583 -1.583m0 -12.667A1.583 1.583 0 0 1 9.5 11.086h31.667a1.583 1.583 0 0 1 0 3.167H9.5a1.583 1.583 0 0 1 -1.583 -1.583"/></svg>
      </p>
    </div>

    <div class="header-navigation-line">
      <a href="#" class="header-navigation-banner">
        <img src="images/banner1.png" alt="">
        <span>English-Way</span>
      </a>
    </div>

    <ul class="header-navigation-line header-navigation-visible header-menu-navigation">
      <li *ngFor="let menuItem of menu">
        <a [routerLink]="menuItem.url"
           [ngClass]="{'active': currentMenuUrl === menuItem.url}"
        >{{ menuItem.name | translate }}</a>
      </li>
    </ul>

    <ul class="header-aside-block">
      <li>
        <a href="#" (click)="openLoginDialog()">Registration</a>
      </li>
      <li>
        <a (click)="openLoginDialog()">Log in</a>
      </li>
      <li>
        <select (change)="onLanguageChange($event)" [(ngModel)]="currentLanguage">
          <option *ngFor="let lang of languages" [value]="lang.code">
            {{ lang.name }}
          </option>
        </select>
      </li>
    </ul>
  </div>
</section>

<app-login-dialog [isVisible]="isLoginDialogVisible" (closeModal)="closeLoginDialog()"/>
