
.main-section,
.main-section a{
  color: var(--landingMainSectionTextColor);
}
.main-section-left-block{
  max-width: 460px;
}
.main-section-right-block{
  max-width: 660px;
}
.main-section-right-block img{
  max-width: 650px;
}
.main-section-title{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}
.main-section-description{
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 500;
}
.main-section-buttons{
  margin-top: 40px;
}
@media (max-width: 1200px) {
  .main-section-left-block {
    max-width: 440px;
  }
  .main-section-right-block {
    max-width: 540px;
  }
  .main-section-right-block img{
    max-width: 520px;
  }
}
@media (max-width: 1024px) {
  .main-section-left-block {
    max-width: 370px;
  }
  .main-section-right-block {
    max-width: 460px;
  }
  .main-section-right-block img{
    max-width: 440px;
  }
}
@media (max-width: 850px) {
  .main-section-left-block {
    max-width: 320px;
  }
  .main-section-right-block {
    max-width: 380px;
  }
  .main-section-right-block img{
    max-width: 360px;
  }
  .main-section-title{
    font-size: 16px;
  }

  .main-section-description{
    font-size: 18px;
  }
}
@media (max-width: 760px) {
  .main-section .container{
    justify-content: center;
  }
  .main-section-left-block {
    width: 100%;
    text-align: center;
    padding-top: 70px;
  }
  .main-section-right-block {
    text-align: center;
    width: 100%;
  }
  .main-section-right-block img{
    max-width: 600px;
  }
  .main-section-title{
    font-size: 18px;
  }

  .main-section-description{
    font-size: 20px;
  }
}

